@use "@/app/styles/settings/_fonts.scss";
@use "@/app/styles/settings/_colors.scss";

.layout {
  display: flex;
  flex-direction: column;
  padding: 2rem 10.125rem;
  margin-top: 5rem;
  gap: 5rem;
}

.icon {
  display: flex;
  flex-direction: row;
}

.opacity {
  opacity: 0.5;
  scale: 0.5;
}

.opacityb {
  opacity: 0.2;
  scale: 0.2;
}

.h3 {
  font: fonts.$h2-font;
}

.text {
  font: fonts.$span-font;
  color: colors.$gray-60;
  line-height: 150%;
}

.name {
  font: fonts.$span-strong;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.88rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid var(--Grey-15, #262626);
  padding: 1.875rem;
  gap: 3.12rem;
}

.infoContainer {
  text-align: center;
}

.sendMessage {
  border-radius: 6.25rem;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
  display: flex;
  flex-direction: row;
  padding: 0.875rem 0.875rem 0.875rem 1.5rem;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  justify-content: space-between;
}

.circlePurple {
  display: flex;
  background-color: colors.$purple-60;
  padding: 0.625rem;
  border-radius: 50%;
}

.iconWhite {
  fill: white;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 768px) {
  .layout {
    padding: 1rem;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
  }
}
