/* 



*/

$purple-60: #703bf7;
$purple-65: #8254f8;
$purple-70: #946cf9;
$purple-75: #a685fa;
$purple-90: #dbcefd;
$purple-95: #ede7fe;
$purple-97: #f4f0fe;
$purple-99: #fbfaff;

$white-90: #e4e4e7;
$white-95: #f1f1f3;
$white-97: #f7f7f8;
$white-99: #fcfcfd;

$gray-08: #141414;
$gray-10: #1a1a1a;
$gray-15: #262626;
$gray-20: #333333;
$gray-30: #4d4d4d;
$gray-40: #666666;
$gray-50: #808080;
$gray-60: #999999;

$white: #fff;
$black: #000;
