@use "@/app/styles/settings/_colors.scss";

.paginationLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  min-height: 10rem;
  border-top: 1px solid var(--Grey-15, #262626);
  padding: 2rem 0;
}

.icon {
  fill: white;
  cursor: pointer;
}

.backicon {
  fill: white;
  transform: rotate(180deg);
  cursor: pointer;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: colors.$gray-10;
  border-radius: 4.3125rem;
  border: 1px solid colors.$gray-15;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.2;
    background-color: colors.$gray-15;
  }
}

.arrowsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .paginationLayout {
    align-items: center;
    color: var(--Grey-60, #999);
    font-family: Urbanist;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--Absolute-White, #fff);
    font-family: Urbanist;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.3125rem */
  }
}
