.layout {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 10.125rem;
  gap: 3.125rem;
}

.faqContainer {
  margin: -1.25rem -10.125rem;
}

.carrouselContainer {
  border-radius: 0.75rem;
  border: 1px solid var(--Grey-15, #262626);
  background: var(--Grey-10, #1a1a1a);
  display: flex;
  padding: 3.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

@media screen and (max-width: 768px) {
  .layout {
    padding: 1rem;
    padding-right: 2rem;
  }
  .faqContainer {
    margin: 0;
  }
}
